<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado!</title>
</head>
<body>
    <h1>Cadastro Concluído com Sucesso</h1>
    <p><a asp-action = "Responder">Voltar ao Ínicio</a></p>
    <p><a asp-action = "Resultado">Ver Resultado</a></p>
</body>
</html>